.pill {
  border-radius: 999999px;
  padding: .5rem 1rem;
  width: fit-content;
  margin: 0 auto;
}

.pill_text {
  font-size: 14px;
  font-weight: bold;
  margin-left: 1rem;
}

.pill_pulse {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: pulse 2s infinite;
  background-color: var(--primary-color);
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 4px 2px var(--primary-color);
  }

  50% {
    box-shadow: 0 0 4px 6px var(--primary-color);
  }

  100% {
    box-shadow: 0 0 4px 2px var(--primary-color);
  }
}